@model BL.Domain.Project

<div class="popup-overlay z-3" id="popupOverlay">
    <div class="popup" id="popup">
        <span class="close" id="closePopup">&times;</span>
        <div class="popup-content">
            <form asp-action="Create" asp-controller="Project" method="post">
                <h5>Create Project</h5>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" required></textarea>
                </div>
                <button class="btn rounded-5" id="createButton">Create Project</button>
            </form>
        </div>
    </div>
</div>