@model BL.Domain.Project


<div class="popup-overlay z-3" id="popupOverlay">
    <img src="https://storage.googleapis.com/phygital-public/Flows/flow_page_hands_2.png" class="card-img-top w-100 h-100 z-1 position-relative" alt="Afbeelding_van_flow">
    <div class="popup" id="popup">
        <h5 class="fw-bolder d-flex justify-content-center">Create Project</h5>

        <span class="close" id="closePopup">&times;</span>
        <div class="popup-content d-flex justify-content-center align-items-center">
            <form class="w-50" asp-action="Create" asp-controller="Project" method="post">
                <div class="form-group pb-3">
                    <label class="d-flex justify-content-start" asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" required>
                </div>
                <div class="form-group pb-3">
                    <label class="d-flex justify-content-start" asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" required>
                </div>
                <button class="btn btn-blue rounded-5" id="createButton">Create Project</button>
            </form>
        </div>
    </div>
</div>