@using IP_MVC
@model BL.Domain.Project

@{
    ViewBag.Title = "Edit Project";
    var randomIndex = new Random().Next(1, 3);
    var imageUrl = $"https://storage.googleapis.com/phygital-public/Flows/flow_page_hands_{randomIndex}.png";
}

<div class="flip-card-front position-relative">
    <img src="@imageUrl" class="card-img-top w-100 h-100 z-1 position-relative" alt="Afbeelding_van_flow">
    <div class="card border-1 border-black h-50 position-absolute card-clickable" data-parent-flow-id="@Model.Id">
        <form>
            <input type="hidden" id="id" asp-for="Id"/>
            <input type="hidden" id="adminId" asp-for="AdminId"/>
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" asp-for="Name" required>
            </div>
            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <textarea class="form-control" id="descriptionInput" asp-for="Description" required></textarea>
            </div>

            <div class="d-flex justify-content-between align-items-center position-sticky button-container overflow-x-scroll overflow-y-hidden">
                <div>
                    <button type="submit" class="btn py-0 updateProjectButton">Update</button>
                </div>
                <div>
                    <a class="btn py-0" href="@Url.Action("Flow", "Flow", new { projectId = Model.Id })">Edit flows</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script src="~/dist/updateProject.entry.js"></script>
}