@model IP_MVC.Models.ManageFacilitatorsViewModel

<div class="popup-overlay z-3" id="popupOverlay">
    <img src="https://storage.googleapis.com/phygital-public/Flows/flow_page_hands_2.png" class="card-img-top w-100 h-100 z-1 position-relative" alt="Afbeelding_van_flow">
    <div class="popup" id="popup">
        <h5 class="fw-bolder d-flex justify-content-center">Manage Facilitators</h5>
        <span class="close" id="closePopup">&times;</span>
        <div class="popup-content d-flex justify-content-center align-items-center">
            <div class="w-50">
                <input type="hidden" id="projectId" value="@Model.ProjectId"/>
                <input id="searchBox" class="form-control" placeholder="Search for a user">

                <div id="searchResult"></div>

                <ul id="currentFacilitators">
                    @if (!Model.Facilitators.Any())
                    {
                        <li>No facilitators</li>
                    }
                    else
                    {
                        @foreach (var facilitator in Model.Facilitators)
                        {
                            <li>
                                @facilitator.UserName
                                <a class="btn btn-white py-0 bi bi-trash" href="@Url.Action("RemoveUser", "Project", new { userId = facilitator.Id, projectId = Model.ProjectId })" onclick="return confirm('Are you sure you want to remove this facilitator?')"></a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <a class="btn btn-blue py-0" id="createButton" href="@Url.Action("ProjectDashboard", "Project")">Done</a>
    </div>
</div>

@section Scripts
{
    <script src="~/dist/manageFacilitators.entry.js" defer></script>
}