@model BL.Domain.Project

@{
ViewBag.Title = "Edit Project";
Layout = "_Layout";
}

<h2>Edit Project</h2>

<form asp-action="Edit" asp-controller="Project" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="AdminId" /> <!-- Add this line -->
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" asp-for="Name" required>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" asp-for="Description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<a class="btn btn-primary" href="@Url.Action("Flow", "Flow", new { projectId = @Model.Id })">Edit flows</a>