@using BL.Domain.Questions
@model BL.Domain.Questions.SingleChoiceQuestion

@{
    var earlierAnswer = ViewData["earlierAnswer"] as BL.Domain.Answers.Answer;
    var question = ViewData["questionType"]  as SingleChoiceQuestion ;
}

@foreach (var option in question!.Options)
{
    bool isSelected = earlierAnswer != null && earlierAnswer.AnswerText == option;
    <div class="form-check m-3">
        <input class="form-check-input" name="Answer" type="radio" id="radio@i" value="@option" @(isSelected ? "checked" : "")>
        <label class="form-check-label" for="radio@i">
            @option
        </label>
    </div>
}
