@model BL.Domain.Questions.RangeQuestion

@{
    ViewBag.Title = "RangeEnum";
    Layout = "_Layout";
}

<div class="row py-2">
    <img src="https://via.placeholder.com/200x100" alt="Afbeeldingsplaatsaanduiding">
</div>
<div class="row py-2">
    <p class="text-start fw-bold">Question</p>
    <p>@Model.Text</p>
</div>
<div class="row py-2 slider-container">
    <div class="slider-values">
        
    </div>
    <input type="range" min="@Model.Min" max="@Model.Max"/>
</div>
<div class="row py-2">
    <div class="col-auto">
        <form asp-action="Question" asp-controller="Flow" method="post">
            <input type="hidden" name="direction" value="next" />
            <input type="submit" value="Next" class="btn btn-secondary" />
        </form>
    </div>
</div>