@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BL.Domain.Questions.SingleChoiceQuestion

@{
    ViewBag.Title = "Single Choice";
    Layout = "_Layout";
}

<div class="row py-2">
    <img src="https://via.placeholder.com/200x100" alt="Afbeeldingsplaatsaanduiding">
</div>
<div class="row py-2">
    <p class="text-start fw-bold">Question</p>
    <p>@Model.Text</p>
</div>
<div class="row bg-secondary-subtle border border-black my-2">
    <form>
        @for (int i = 0; i < Model.Options.Count; i++)
        {
            <div class="form-check m-3">
                <input class="form-check-input" name="formRadio" type="radio" id="radio@i">
                <label class="form-check-label" for="radio@i">
                    @Model.Options[i]
                </label>
            </div>
        }
    </form>
</div>
<div class="row py-2">
    <div class="col-auto">
        <form asp-action="Question" asp-controller="Flow" method="post">
            <input type="hidden" name="direction" value="next" />
            <input type="submit" value="Next" class="btn btn-secondary" />
        </form>
    </div>
</div>