@model dynamic
@using IronBarCode;

@{
    ViewBag.Title = "Open";
    Layout = "_Layout";
}

<div class="container text-center">
    <div class="row py-2 justify-content-end">
        <div class="col col-md-4">
            <select class="form-select">
                <option value="option1">Vraag 1</option>
                <option value="option2">Vraag 2</option>
                <option value="option3">Vraag 3</option>
                <option value="option4">Vraag 4</option>
                <option value="option5">Vraag 5</option>
            </select>
        </div>
    </div>
    <div class="row py-2">
        @Html.Raw("Hier komt je tekst...")
    </div>
    <div class="row py-2">
        <p class="text-start fw-bold">VRAAG X</p>
    </div>
    <div class="row py-2">
        <img src="https://via.placeholder.com/200x100" alt="Afbeeldingsplaatsaanduiding">
    </div>
    <div class="row py-2">
        <div class="col-auto me-auto">
            <a href="" class="btn btn-secondary">Vorige</a>
        </div>
        <div class="col-auto">
            <a href="" class="btn btn-secondary">Volgende</a>
        </div>
    </div>
</div>