@using BL.Domain.Questions
@model BL.Domain.Questions.Question

@{
    ViewBag.Title = "Create Question";
    var flowId = ViewBag.parentFlowId as int? ?? 0;
    Layout = "_Layout";
}

<h2>Create Question</h2>

<form asp-action="Create" method="post" id="questionForm" >
    <div class="form-group">
        <label for="Type">Question Type</label>
        <select id="Type" name="Type" class="form-control">
            <option value="MultipleChoice">Multiple Choice</option>
            <option value="Open">Open</option>
            <option value="Range">Range</option>
            <option value="SingleChoice">Single choice</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Text">Question</label>
        <input type="text" class="form-control" id="Text" name="Text" required>
    </div>
    
    <input type="hidden" name="FlowId" value="@flowId"/>
    <button type="submit" class="btn btn-primary" asp-action="Create" asp-controller="Question">Create</button>
</form>