@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<div class="row py-2">
    <img src="https://via.placeholder.com/200x100" alt="Afbeeldingsplaatsaanduiding">
</div>
<div class="row py-2 text-center">
    <h1>Naam deelplatform</h1>
</div>
<div class="row py-2">
        <div class="col-auto me-auto">
            <a href="" class="btn btn-primary">Start</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" asp-area="" asp-action="SubThemes">Kies Subthema</a>
        </div>
</div>
