@model dynamic

@{
    ViewBag.Title = "Open";
    Layout = "_Layout";
}

<div class="row py-2 justify-content-end">
    <div class="col col-md-4">
        <select class="form-select">
            <option value="vraag1">Vraag 1</option>
            <option value="vraag2">Vraag 2</option>
            <option value="vraag3">Vraag 3</option>
            <option value="vraag4">Vraag 4</option>
        </select>
    </div>
</div>
<div class="row py-2">
    <img src="https://via.placeholder.com/200x100" alt="Afbeeldingsplaatsaanduiding">
</div>
<div class="row py-2">
    <p class="text-start fw-bold">VRAAG X</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur culpa dolor dolores, impedit nesciunt officia porro possimus quibusdam quidem recusandae sequi tempora totam vel vero. Asperiores fugiat incidunt tempore.</p>
</div>
<div class="row bg-secondary-subtle border border-black my-2">
    <p>Scan onderstaande QR-code om op de open vraag te antwoorden</p>
    <svg>
        <title>qr placeholder</title>
        <rect width="150px" height="150px" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">QR-Code</text>
    </svg>
</div>
<div class="row py-2">
    <div class="col-auto me-auto">
        <a href="" class="btn btn-secondary">Vorige</a>
    </div>
    <div class="col-auto">
        <a href="" class="btn btn-secondary">Volgende</a>
    </div>
</div>
