@model dynamic

@{
    ViewBag.Title = "Subthemes";
    Layout = "_Layout";
}

<div class="row row-cols-3">
    <div class="col">
        <a href="">
            <div class="card">
            <img src="https://via.placeholder.com/10x10" alt="Foto subthema">
            <div class="card-body">
                <h5 class="card-title">Subthema</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi, consequatur dolore ducimus eveniet exercitationem incidunt iure laborum molestias nulla odit porro provident quae qui unde! Animi incidunt mollitia nesciunt?</p>
            </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="">
            <div class="card">
                <img src="https://via.placeholder.com/10x10" alt="Foto subthema">
                <div class="card-body">
                    <h5 class="card-title">Subthema</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi, consequatur dolore ducimus eveniet exercitationem incidunt iure laborum molestias nulla odit porro provident quae qui unde! Animi incidunt mollitia nesciunt?</p>
                </div>
            </div>
        </a>
    </div>
        <div class="col">
            <a href="">
                <div class="card">
                <img src="https://via.placeholder.com/10x10" alt="Foto subthema">
                <div class="card-body">
                    <h5 class="card-title">Subthema</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi, consequatur dolore ducimus eveniet exercitationem incidunt iure laborum molestias nulla odit porro provident quae qui unde! Animi incidunt mollitia nesciunt?</p>
                </div>
                </div>
            </a>
        </div>
</div>
