@using IP_MVC

<div class="popup-overlay z-3" id="popupOverlay">
    <img src="https://storage.googleapis.com/phygital-public/Flows/flow_page_hands_2.png" class="card-img-top w-100 h-100 z-1 position-relative" alt="Afbeelding_van_flow">

    <div class="popup" id="popup">
        <span class="close" id="closePopup">&times;</span>
        <div class="popup-content d-flex justify-content-center align-items-center position-relative">
            <form method="StopProjectSession" asp-controller="Flow">
                <div class="form-group">
                    <label for="username" asp-for="username">Username</label>
                    <input type="text" class="form-control" asp-for="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password" asp-for="password" >Password</label>
                    <input type="password" class="form-control" asp-for="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-blue">Stop project session</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/dist/showPopUp.entry.js" defer></script>
}