@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="completed-page">
    <img src="https://storage.googleapis.com/phygital-public/Questions/question_complete.png" alt="check foto">
    <h2>Question saved!</h2>
    <p>The question has been saved successfully. Follow the on-screen instructions to continue with the flow.</p>
</div>