@model IEnumerable<BL.Domain.Flow>

@{
    ViewBag.Title = "Flows";
    Layout = "_Layout";
}

<div class="row row-cols-3">
    @foreach (var flow in Model)
    {
        <partial name="_UploadPictureToBucketPartial" model="flow" />
    }
</div>