@using System.Web
@model IEnumerable<BL.Domain.Flow>
@inject DAL.Interfaces.ICloudStorageRepository CloudStorageRepository


@{
    ViewBag.Title = "Flows";
    Layout = "_Layout";
}

<div class="row row-cols-3">
    @foreach (var flow in Model)
    {
        <partial name="UploadPictureToBucketPartial" model="flow" />
    }
</div>