@model IEnumerable<BL.Domain.Flow>

@{
    ViewBag.Title = "Flows";
    Layout = "_Layout";
}


<div class="row row-cols-3">
    @foreach (var flow in Model)
    {
        <div class="col">
            <div class="card">
                <img src="https://storage.googleapis.com/phygital-public/Flows/@(Uri.EscapeDataString(flow.Name)).png" alt="Foto flow">

                <div class="card-body">
                    <h5 class="card-title">@flow.Name</h5>
                    <p class="card-text">@flow.Description</p>
                    <a href="@Url.Action("SubFlow", "Flow", new { id = flow.Id })" class="btn btn-primary">View Subflows</a>
                </div>
            </div>
        </div>
    }
</div>