@model IP_MVC.Models.QuestionViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

}

<h2>Open question</h2>

<form asp-controller="Flow" asp-action="SaveAnswerOpenQuestion" method="post">
    <input type="hidden" name="flowId" value="@Model.Question.FlowId"/>
    <textarea class="form-control" name="Answer"></textarea>
    <button type="submit">Submit</button>
</form>