@model IEnumerable<BL.Domain.Flow>

@{
    ViewBag.Title = "SubFlows";
    Layout = "_Layout";
}

<div class="container">
    <div class="card-group vgr-cards">
        @foreach (var flow in Model)
        {
            <div class="card">
                <div class="card-img-body">
                    <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@flow.Name</h5>
                    <p class="card-text">@flow.Description</p>
                    <a href="@Url.Action("PlayFlow", "Flow", new { id = flow.Id, linearFlow = true })" class="btn btn-primary">Start linear Flow</a>
                    @* @if (User.IsInRole("UpperRole"))  a user can't start up a circular flow*@
                    <a href="@Url.Action("PlayFlow", "Flow", new { id = flow.Id, linearFlow = false })" class="btn btn-primary">Start circular Flow</a>
                </div>
            </div>
        }
    </div>
</div>