@import '../../_variables.scss';

.questions-page {
  .card {
    height: 40em;
  }

  .return-subflow {
    position: relative;
    padding-left: 10em; /* Ruimte toevoegen aan de linkerkant van de tekst voor de pijl */
  }

  .active-dropdown {
    background-color: $light-blue;
  }
}

