@model IEnumerable<BL.Domain.Project>

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/dist/index.entry.js" defer></script>
}

<body class="flow-page">
<div class="container-fluid">
    <div class="row">
        @foreach (var project in Model)
        {
            <div class="col-md-4">
                <div class="position-relative">
                    <img src="https://storage.googleapis.com/phygital-public/Flows/flow_page_hands.png" class="card-img-top w-100 h-100 z-1" alt="Afbeelding van de flow">
                    <div class="card h-50 position-absolute ">
                        <div class="card-body">
                            <h5 class="card-title">@project.Name</h5>
                            <p class="card-text">@project.Description</p>
                        </div>
                        <a href="@Url.Action("Flow", "Flow", new { id = project.Id })" id="arrow-submit" class="btn ms-auto py-4"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>