@model IEnumerable<BL.Domain.Project>

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/dist/index.entry.js" defer></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="align-content-center">Choose a project to start</p>
    @foreach (var project in Model)
    {
        <div class="card py-2">
            <div class="card-body">
                <h5 class="card-title">@project.Name</h5>
                <p class="card-text">@project.Description</p>
                <a href="@Url.Action("Flow", "Flow", new { projectId = project.Id })" class="btn btn-primary">View flows</a>
            </div>
        </div>
    }
</div>