@import '../_variables.scss';

.flow-page {
  height: 100%;

  .big-card-content{
    height: 55vh;
  }

  .little-card{
    height: 26vh;
    background-color: $light-blue;

    transition: z-index 0.3s;
    
    &:hover {
      z-index: 2; 
    }
    
  }
}