@import '../_variables.scss';

.subFlow-page {

  .card {
    width: 59%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      transform: translate(-50%, -50%) translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .btn {
      padding: 0.5em;
      border-radius: 1em;
      background-color: $light-blue;
    }

    .card-body {
      flex: 3;
      overflow: scroll;
    }

    .d-flex {
      flex: 1;
    }
  }
}